<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include header content -->
  <%- include('head') %>
    <link rel="stylesheet" href="css/challenges.css">
</head>

<body>
  <div class="body-container">
    <!-- Include Navbar -->
    <%- include('navbar') %>

      <div class="container my-5">
        <div class="row mb-5">
          <div class="col">
            <div id="alertContainer"></div>
            <h2 class="text-start">Challenges</h2>

            <!-- Filter challenges by category -->
            <div class="btn-group mb-3" role="group" aria-label="Category Filter">
              <a href="/challenges?category=all"
                class="btn btn-default <% if(selectedCategory === 'all') { %>active<% } %>">All</a>
              <a href="/challenges?category=Physical"
                class="btn custom-btn <% if(selectedCategory === 'Physical') { %>active<% } %>">Physical</a>
              <a href="/challenges?category=Academic"
                class="btn custom-btn <% if(selectedCategory === 'Academic') { %>active<% } %>">Academic</a>
              <a href="/challenges?category=Mindfulness"
                class="btn custom-btn <% if(selectedCategory === 'Mindfulness') { %>active<% } %>">Mindfulness</a>
            </div>

            <div class="row mb-4">
              <% if (challenges.length> 0) { %>
                <% challenges.forEach(challenge=> { %>
                  <!-- Check if challenge matches the selected category -->
                  <% if (selectedCategory==='all' || selectedCategory===challenge.category) { %>
                    <div class="col-md-3 mb-4">
                      <div class="card challenge-card">
                        <div class="card-body d-flex flex-column justify-content-between">

                          <div data-bs-toggle="modal" data-bs-target="#challengeDetailModal" onclick="populateChallengeDetailModal('<%= challenge.title %>', '<%= challenge.description %>', 
                        JSON.parse('<%= JSON.stringify(challenge.steps) %>'))">
                            <h5 class="card-title">
                              <%= challenge.title %>
                            </h5>
                            <p class="card-text">
                              <%= challenge.description %>
                            </p>
                          </div>

                          <a class="btn btn-add"
                            onclick="addChallenge(JSON.parse('<%= JSON.stringify(challenge) %>'))">+</a>
                        </div>
                      </div>
                    </div>
                    <% } %>
                      <% }); %>
                        <% } else { %>
                          <p>No challenges available.</p>
                          <% } %>
            </div>
          </div>
        </div>

        <!-- Modal to show the challenge details -->
        <%- include('challengeDetailModal') %>
          <!-- Trending Challenges section -->
          <div class="row mb-5">
            <div class="container my-5 trendChlBox">
              <h2>Most Popular Challenge</h2>
              <% if (topChallenge) { %>
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">
                      <%= topChallenge.title %>
                    </h3>
                    <p class="card-text">
                      <%= topChallenge.description %>
                    </p>
                    <p><strong>Category:</strong>
                      <%= topChallenge.category %>
                    </p>
                    <a onclick="addChallenge(JSON.parse('<%= JSON.stringify(topChallenge)%>'))"
                      class="btn btn-join">Join the Challenge</a>
                  </div>
                </div>
            </div>
            <% } else { %>
              <p>No challenges available.</p>
              <% } %>
          </div>

      </div>
  </div>

  <!-- Include Footer -->
  <%- include('footer') %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/userChallenge.js"></script>
    <script src="/js/challengeModalDetail.js"></script>
</body>

</html>